html,
body {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #E1F5FE;
}

.view {
  position: relative;
  padding: 150px;
}

div[class^='magic-dust']{
  position: absolute;
  opacity: 0;
  width: 20px;
  height: 20px;
  animation-name: magic-dust;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  border-width: 10px;
  border-style: solid;
}

.magic-dust-1 {
  left: 70px;
  top: 205px;
  border-color: #F44336;
  border-radius: 50%;
}

.magic-dust-2 {
  left: 130px;
  top: 120px;
  border-color: #00E676;
  transform: rotateZ(45deg);
  animation-delay: 50ms;
}

.magic-dust-3 {
  left: 110px;
  top: 50px;
  border-color: #03A9F4;
  animation-delay: 75ms;
  border-radius: 50%;
}

.magic-dust-4 {
  left: 190px;
  top: 70px;
  border-color: blue;
  animation-delay: 100ms;
  border-radius: 50%;
}

.magic-dust-5 {
  left: 290px;
  top: 50px;
  border-color: #FFC107;
  transform: rotateZ(45deg);
  animation-delay: 125ms;
}

.magic-dust-6 {
  left: 400px;
  top: 50px;
  border-color: #D500F9;
  animation-delay: 150ms;
  border-radius: 50%;
}

.magic-dust-7 {
  left: 410px;
  top: 110px;
  border-color: #009688;
  transform: rotateZ(45deg);
  animation-delay: 175ms;
  border-radius: 50%;
}

.magic-dust-8 {
  left: 470px;
  top: 200px;
  border-color: #FF9800;
  animation-delay: 200ms;
  transform: rotateZ(45deg);
}

.magic-dust-9 {
  left: 250px;
  top: 200px;
  border-color: purple;
  animation-delay: 225ms;
  border-radius: 50%;
}

.ball-and-shadow-view {
  position: relative;
  padding: 17.5px;
}

.ball {
  height: 200px;
  width: 200px;
  position: relative;
  animation-name: ball;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.shadow {
  height: 20px;
  width: 150px;
  position: absolute;
  border-radius: 100%;
  background-color: #0288D1;
  bottom: 10px;
  left: 45px;
  box-sizing: border-box;
  animation-name: shadow;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.upper-half {
  width: 100%;
  height: 50%;
  background: red;
  border: 10px solid black;
  border-bottom-width: 5px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  box-sizing: border-box;
}

.lower-half {
  height: 50%;
  width: 100%;
  background: white;
  border: 10px solid black;
  border-top-width: 5px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  box-sizing: border-box;
}

.circle {
  position: absolute;
  left: 75px;
  right: initial;
  top: 75px;
  width: 50px;
  height: 50px;
  border: 10px solid black;
  background-color: white;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  box-sizing: border-box;
  animation-name: circle;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes circle {
  /* 1st bounce */
  1.5625% {
    left: 73px
  }

  16.5% {
    left: 75px
  }

  21.25% {
    left: 77px
  }

  25% {
    left: 75px
  }

  /* 2nd bounce */
  26.5625% {
    left: 73px
  }

  41.5% {
    left: 75px
  }

  46.25% {
    left: 77px
  }

  50% {
    left: 75px
  }

  /* 3rd bounce */
  53% {
    left: 75px
  }

  54% {
    left: -10px;
    width: 50px;
  }

  55% {
    left: -10px;
    width: 20px;
    border: 10px solid black;
  }

  56% {
    left: 0px;
    width: 0px;
    border: 0px solid black;
  }

  57% {
    left: 0px;
    width: 0px;
    border: 0px solid black;
  }

  58% {
    left: initial;
    right: 0px;
    width: 0px;
    border: 0px solid black;
  }

  59% {
    left: initial;
    right: -10px;
    width: 20px;
    border: 10px solid black;
  }

  60%{
    left: 75px;
    right: initial;
    width: 50px;
  }

  100% {
    left: 75px;
    right: initial;
    width: 50px;
  }
}

@keyframes ball {
  /* 1st bounce */
  1.5625% {
    height: 205px;
    width: 195px;
  }

  3.125% {
    transform: translateY(0%);
  }

  6.25% {
    transform: translateY(-25%);
    height: 205px;
    width: 195px;
  }

  12.5% {
    transform: translateY(-25%);
  }

  16.5% {
    height: 200px;
    width: 200px;
    transform: translateY(-25%);
  }

  18.75% {
    transform: translateY(0%);
  }

  21.25% {
    height: 198px;
    width: 205px;
  }

  25% {
    transform: translateY(0%);
  }

  /* 2nd bounce */
  26.5625% {
    height: 205px;
    width: 195px;
  }

  28.125% {
    transform: translateY(0%);
  }

  31.25% {
    transform: translateY(-25%);
    height: 205px;
    width: 195px;
  }

  37.5% {
    transform: translateY(-25%);
  }

  41.5% {
    height: 200px;
    width: 200px;
    transform: translateY(-25%);
  }

  43.75% {
    transform: translateY(0%);
  }

  46.25% {
    height: 198px;
    width: 205px;
  }

  50% {
    transform: translateY(0%);
  }

  /* 3rd bounce */
  51.5625% {
    height: 205px;
    width: 195px;
  }

  53.125% {
    transform: translateY(0%);
  }

  56.25% {
    transform: translateY(-25%);
    height: 205px;
    width: 195px;
  }

  62.5% {
    transform: translateY(-25%);
  }

  66.5% {
    height: 200px;
    width: 200px;
    transform: translateY(-25%);
  }

  68.75% {
    transform: translateY(0%);
  }

  71.25% {
    height: 198px;
    width: 205px;
  }

  75% {
    transform: translateY(0%);
  }

  /* 4th bounce */
  76.5625% {
    height: 205px;
    width: 195px;
  }

  78.125% {
    transform: translateY(0%);
  }

  81.25% {
    transform: translateY(-25%);
    height: 205px;
    width: 195px;
  }

  87.5% {
    transform: translateY(-25%);
  }

  91.5% {
    height: 200px;
    width: 200px;
    transform: translateY(-25%);
  }

  93.75% {
    transform: translateY(0%);
  }

  96.25% {
    height: 198px;
    width: 205px;
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes shadow {
  /* 1st bounce */
  3.125% {
    height: 20px;
    width: 150px;
    left: 45px;
  }

  6.25% {
    height: 10px;
    width: 75px;
    left: 80px;
  }

  12.5% {
    height: 10px;
    width: 75px;
    left: 80px;
  }

  16.5% {
    height: 10px;
    width: 75px;
    left: 80px;
  }

  18.75% {
    height: 20px;
    width: 150px;
    left: 45px;
  }

  25% {
    height: 20px;
    width: 150px;
    left: 45px;
  }

  /* 2nd bounce */
  28.125% {
    height: 20px;
    width: 150px;
    left: 45px;
  }

  31.25% {
    height: 10px;
    width: 75px;
    left: 80px;
  }

  37.5% {
    height: 10px;
    width: 75px;
    left: 80px;
  }

  41.5% {
    height: 10px;
    width: 75px;
    left: 80px;
  }

  43.75% {
    height: 20px;
    width: 150px;
    left: 45px;
  }

  50% {
    height: 20px;
    width: 150px;
    left: 45px;
  }

  /* 3rd bounce */
  53.125% {
    height: 20px;
    width: 150px;
    left: 45px;
  }

  56.25% {
    height: 10px;
    width: 75px;
    left: 80px;
  }

  62.5% {
    height: 10px;
    width: 75px;
    left: 80px;
  }

  66.5% {
    height: 10px;
    width: 75px;
    left: 80px;
  }

  68.75% {
    height: 20px;
    width: 150px;
    left: 45px;
  }

  75% {
    height: 20px;
    width: 150px;
    left: 45px;
  }

  /* 4th bounce */
  78.125% {
    height: 20px;
    width: 150px;
    left: 45px;
  }

  81.25% {
    height: 10px;
    width: 75px;
    left: 80px;
  }

  87.5% {
    height: 10px;
    width: 75px;
    left: 80px;
  }

  91.5% {
    height: 10px;
    width: 75px;
    left: 80px;
  }

  93.75% {
    height: 20px;
    width: 150px;
    left: 45px;
  }

  100% {
    height: 20px;
    width: 150px;
    left: 45px;
  }
}

@keyframes magic-dust {
  0% {
    left: 250px;
    top: 200px;
    opacity: 0;
  }

  40% {
    left: 250px;
    top: 200px;
    opacity: 0;
  }

  50%{
    width: 20px;
    height: 20px;
    border-width: 10px;
    opacity: 0;
  }

  75% {
    width: 6px;
    height: 6px;
    border-width: 5px;
  }
 

  100% {
    width: 0px;
    height: 0px;
    border-width: 0px;
    opacity: 1;
  }
}
